<% include partials/header.ejs %>
<div class="container">
<h2>Hi ,  This WebSite Is Created By Sajal Agrawal</h2>
<br>

<img style="height:200px;width:150px;" src="contact.jpeg">
<br>

<h3>Contact Us :  sajal.agarwal703@gmail.com </h3>

</div>  




<% include partials/footer.ejs %>