<% include partials/header.ejs %>
<div class="container">

<div class="jumbotron">
		<h1>Welcome To Campground</h1>
		<p>Best Campground Sites</p>
	
		<img src="images.jpg">
		<br>
		<br><br>
		<a class="btn btn-primary" href="/campground">View All Campground</a>  </div>

</div>
<% include partials/footer.ejs %>